---
// src/layouts/Layout.astro
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header.astro";
import Background from "@/components/Background.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";
import ConnectingLoader from "@/components/ConnectingLoader.astro";

interface Props {
    title?: string;
    description?: string;
    class?: string;
}

const {
    title = "The Infinity's",
    description = "The Infinity's official website",
    class: className,
} = Astro.props;

const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <ClientRouter />
        <meta name="description" content={description} />
        <Font cssVariable="--font-orbitron" />
        <Font cssVariable="--font-chakrapetch" />
        <Font cssVariable="--font-ibm-plex-sans-jp" />
        <title>{title}</title>
    </head>
    <body class={className}>
        <div
            id="loader-wrapper"
            class="fixed inset-0 z-50 opacity-0 pointer-events-none transition-opacity duration-300"
        >
            <ConnectingLoader
                title="Connecting"
                description="Please wait..."
                animate={true}
                showLogo={true}
                client:load
            />
        </div>
        <Background />
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <script>
            const setupLoader = () => {
                const wrapper = document.getElementById("loader-wrapper");
                if (!wrapper) return;
                document.addEventListener("astro:before-preparation", () => {
                    wrapper.classList.remove(
                        "opacity-0",
                        "pointer-events-none",
                    );
                });
                document.addEventListener("astro:after-preparation", () => {
                    wrapper.classList.add("opacity-0", "pointer-events-none");
                });
            };
            setupLoader();
            document.addEventListener("astro:after-swap", setupLoader);
        </script>
    </body>
</html>
